// Custom styles.
// rss button style color
.feed-link a {
border-radius: 0px;
color: #ababab;
border: 1px solid #ababab;
}
.feed-link a i {
    color: #ababab;
}

// personal link Vertical
.links-of-author a {
    display: block;
    border-bottom: 0px!important;
    width: 75%;
    margin: auto;
}

// remove the dot before link icon
.links-of-author a:before {
    display: none;
}

//hide tag and categories on top
.menu-item-tags {
    display: none!important;
}

.menu-item-categories {
    display: none!important;
}

// hide post-comments-count
.post-comments-count{
    display: none!important;
}

.disbtn {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    background: #222;
    border: 2px solid #222;
    text-decoration: none;
    border-radius: 0;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    line-height: 2;
}

.disbtn:hover {
  border-color: #222;
  color: #222;
  background: #fff;
}